/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "paybooc-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f2f4f6;
  font-family: "Gothic A1", sans-serif;
  box-sizing: border-box;
}

/* common */
.btn {
  font-family: "paybooc-Bold";
  padding: 30px 90px;
  background: linear-gradient(-45deg, #33ccff 0%, #4033fc 100%);

  color: #fff;
  border-radius: 13px;
  margin-bottom: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn p {
  font-size: 24px;
  font-weight: 500;
}

/* Header */
#header {
  width: 100%;
  margin: 0 auto;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.993);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.header_inner {
  max-width: 1140px;
  height: 90px;
  margin: 0 auto;
}
#header .logo {
  display: block;
}
#header .logo::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15%;
  height: 100%;
  background-image: url(./assets/image/logo.png);
  background-position: 50px 30px;
  background-repeat: no-repeat;
  background-size: 140px;
  vertical-align: top;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.top_menu {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
.top_menu span {
  font-size: 16px;
  font-weight: 700;
  margin-right: 70px;
  cursor: pointer;
}
.top_menu span:last-child {
  margin-right: 0;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #b6b6b6;
}

/* Section */

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.bg_container {
  width: 100%;
  background-color: #0077ff;
  height: 44vh;
}
.bg_container.light-blue {
  height: 20vh;
  background-color: #c5d9ff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 250px 0;
}
.se_title {
  text-align: center;
  margin-bottom: 100px;
}
.se_title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 21px;
}
.se_title p {
  color: #8f8f8f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.se_desc {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  color: #fff;
}

.content_img img {
  width: 100%;
}

/*  footer */
.footer.se_desc {
  color: #616d7c;
}

/*  */
